<content>
  <h1>List of students</h1>
  
  <div class="header">
    <table class="class-table table  border-primary">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Matricule</th>

          <th scope="col">Class_id</th>
          <th scope="col">Pension_id</th>

          <!-- <th scope="col">exam</th> -->
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active" *ngFor="let elev of eleve">
          <th scope="row">{{elev.nom}}</th>
          <td>{{elev.matricule}}</td>
          <td>{{elev.class_id}}</td>
          <td>{{elev.id_pension}}</td>
          <!-- <td>{{clas.examen}}</td> -->
          <td>
            <button class="btn btn-primary edit">edit</button>
          </td>
          <td>
            <button class="btn btn-danger delete" (click)="delete(elev)" >delete</button>
          </td>
  
        </tr>
      </tbody>
    </table>
    <button class="mat-raised-button" (click)="openModal()" > new student</button>
    <!-- <mat-icon>icon-name</mat-icon> -->
  </div>
  
  </content>
  