<button type="button" class="btn btn-primary" (click)="openPopup()">
  Add Teacher
</button>
<hr />

<h3>Here is the list of techers in the school</h3>
<div class="header">
  <table class="class-table table border-primary">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Name</th>
        <th scope="col">Tel</th>
        <!-- <th scope="col">exam</th> -->
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active" *ngFor="let ens of enseignant; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ ens.nom }}</td>
        <td>{{ ens.tel }}</td>
        <!-- <td>{{clas.examen}}</td> -->
        <td>
          <button class="btn btn-primary edit" (click)="edit(ens)">edit</button>
        </td>
        <td>
          <button class="btn btn-danger delete" (click)="delete(ens)">
            delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <mat-icon>icon-name</mat-icon> -->
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add A New Teacher</h4>
      </div>
      <form
        [formGroup]="teacherForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="modal-body">
          <div>
            <label for="name">Name : </label>
            <input type="text" formControlName="nom" name="nom" />
            <!-- <input type="text" ngModel name="name" #name= "ngModel"> -->
            <!-- <div class="alert alert-danger" *ngIf="name.touched && |name.valid"></div> -->
          </div>
          <div>
            <label for="telephone">Phone Number : </label>
            <input type="tel" formControlName="tel" name="tel"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Create</button>
          <button type="button" class="btn btn-danger" (click)="closePopup()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
