button {
    margin-right: 10px;
    background-color: rgb(0,74,159);
}
  
.mat-icon {
    vertical-align: middle;
}

.test {
    margin-bottom: 2rem;
}

.del {
    background-color: rgb(247, 39, 39);
}