mat-toolbar {
  background-color: #004a9f;
  color: "white";
  justify-content: space-between;
}
mat-sidenav {
  margin: 16px;
  width: 16%;
  min-width: 200px;
  border-right: none;
  background-color: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 40px );
  margin: 16px;
  margin-left: 32px;
  overflow: hidden;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  // font-size: 2rem;
  // color: lightgray;
  border-radius: 10px;
  background-color: aliceblue;
}

mat-sidenav-container {
  height: calc(100vh) ;
  justify-content: space-between;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(0.2rem + 1vw);

  mat-icon {
      margin-right: calc(0.5rem + 1vw);
      font-size: calc(0.5rem + 1vw);
  }
}

.auth-option{
  display: flex;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  align-self: auto;
}

.name {
  margin-top: 8px;
  font-weight: calc(0.2rem + 1vw);
}

.designation {
  // margin-top: 2px;
  font-size: calc(0.1rem + 0.6vw);
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.logo{
  width: 50px;
  align-self: flex-end;
}

// burger button

