
  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


mat-drawer {
    width: 260px;
    
}

mat-drawer-container {
    height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content, mat-sidenav {
  padding: 16px;
}

mat-sidenav {
  background-color: lightblue;
  width: 260px;
}