<div class="test">
    <button class="mat-raised-button">
        <mat-icon aria-hidden="false" aria-label="Example home icon" >add</mat-icon>
        Add Class
    </button>
    <button class="mat-raised-button" >
        <mat-icon >download</mat-icon>
        CLasses
    </button>
</div>

<div class="content">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
      
        <!--pensionght Column -->
        <ng-container matColumnDef="pension">
          <mat-header-cell *matHeaderCellDef> pension </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.pension}} </mat-cell>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <button class="mat-raised-button">
              <mat-icon aria-hidden="false" aria-label="Example home icon" >edit</mat-icon>
               Edit
          </button>
          </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <button class="mat-button del">
              <mat-icon aria-hidden="false" aria-label="Example home icon" >delete</mat-icon>
              Delete
          </button> 
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
</div>
