<content>
<h1>List of classes</h1>

<div class="header">
  <table class="class-table table  border-primary">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <!-- <th scope="col">exam</th> -->
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active" *ngFor="let clas of classes; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{clas.nom}}</td>
        <td>{{clas.niveau}}</td>
        <!-- <td>{{clas.examen}}</td> -->
        <td>
          <button class="btn btn-primary edit" (click)="edit(clas)" >edit</button>
        </td>
        <td>
          <button class="btn btn-danger delete" (click)="delete(clas)" >delete</button>
        </td>

      </tr>
    </tbody>
  </table>
  <button class="mat-raised-button" (click)="openModal()" > new class</button>
  <!-- <mat-icon>icon-name</mat-icon> -->
</div>

</content>
