<div class="forms">
  <div class="header-component">Add a new class</div>
  <form>
    <div class="input-content">
      <label class="label">Nom</label>
      <input autocomplete="country" />
    </div>

    <div class="divider"></div>

    <div class="input-content">
      <label class="label">Montant Pension</label>
      <input autocomplete="country" />
    </div>

    <div class="divider"></div>

    <div class="input-content">
      <label class="label">niveau</label>
      <select  >
        <option >premier cycle</option>
        <option >second cycle</option>
      </select>
    </div>

    <div class="divider"></div>

    <div class="input-content">
      <label class="label">id-etablissement</label>
      <select disabled >
        <option>Lycee de Bieyem ass</option>
      </select>
    </div>

    <div class="input-content">
      <label class="label">id-etablissement</label>
      <select disabled >
        <option>Lycee de Bieyem ass</option>
      </select>
    </div>

    <div class="buttons">
      <div class="submit mat-button">
        <mat-icon class="submit-button">check</mat-icon>
        submit
      </div>

      <div class="cancel mat-button">
        <mat-icon class="cancel-button">cancel</mat-icon>
        Cancel
      </div>

    </div>
  </form>
</div>
