<!--

<mat-nav-list>
    <h2 matSubheader class="mt-2">My Wb Applications</h2>

    <a href="" mat-list-item routerLink="/class" routerLinkActive= "list-item-active">
        <mat-icon>home</mat-icon>Classes
    </a>
    <a href="" mat-list-item routerLink="/personels" routerLinkActive= "list-item-active">
        <mat-icon>home</mat-icon>Personnel
    </a>
    <a href="" mat-list-item routerLink="/students" routerLinkActive= "list-item-active">
        <mat-icon>home</mat-icon>Students
    </a>
    <a href="" mat-list-item routerLink="/assignation" routerLinkActive= "list-item-active">
        <mat-icon>home</mat-icon>Assignation
    </a>
    <a href="" mat-list-item routerLink="/notes" routerLinkActive= "list-item-active">
        <mat-icon>home</mat-icon>Notes
    </a>
    <a href="" mat-list-item routerLink="/reports" routerLinkActive= "list-item-active">
        <mat-icon>home</mat-icon>Reports
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>


-->

